@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      display: flex;
      align-items: center;


      img {
        width: 45px;
        height: 45px;
      }
    }

    &__logo {
      display: flex;


      // img {
      //   margin-right: 15px;
      //   width: 50px;
      // }

      // .name {
      //   color: #181818;
      //   font-size: 24px;
      //   letter-spacing: 1%;
      //   text-transform: uppercase;
      //   font-weight: 800;
      //   margin: 0 11px;


      // }

      p {
        color: #7b7b7b;
        margin: 0 11px;
      }
    }

    .name {
      color: #181818;
      font-size: 20px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      margin: 0 11px;


    }
  }
}


@media screen and (max-width: 610px) {
  h1 {
    font-size: 18px !important;
  }

}


@media screen and (max-width:1200px) {
  .container {
    flex-direction: column;
  }

  .header__cart {
    margin-top: 20px;

  }
}